<div class="container">
    <div>
        <button style="margin: 5px;" mat-mini-fab color="primary" (click)="criarAvaliacao()">
            <mat-icon>add</mat-icon>
        </button>
        <app-avaliacao-busca></app-avaliacao-busca>
    </div>
    <div>
        <mat-tab-group mat-align-tabs="start" *ngIf="showDetalhe">
            <mat-tab label="Avaliação">
                <button mat-raised-button color="primary" (click)="salvarAvaliacao()">
                    Salvar
                </button>
                <app-avaliacao-header [(avaliacaoHeaderEditando)]="avaliacaoHeaderEditando"></app-avaliacao-header>
            </mat-tab>
            <mat-tab label="Participantes">
            </mat-tab>
            <mat-tab label="Banco de Itens">
                <button mat-icon-button color="primary" (click)="criarItem()">
                    <mat-icon>add</mat-icon>
                </button>
                <app-item-busca (edit)="editarItem($event)"></app-item-busca>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>