<ng-container *ngFor="let submissao of agrupamentosSubmissoes">
   <div class="grid-classroom">
      <ng-container *ngIf="detalhe">
         <div> Sala: </div>
         <div [style]="style"> {{submissao.nomeSala}} </div>
      </ng-container>
      <div> Tarefas: </div>
      <div [style]="style"> {{submissao.tarefas}} </div>
      <div> Entregues no prazo: </div>
      <div [style]="style"> {{submissao.entregues}}</div>
      <div> Engajamento: </div>
      <div [style]="submissao.styleEngajamento"> {{submissao.engajamento | percent:'1.2-2'}}</div>
      <div> Entregues com atraso: </div>
      <div [style]="style"> {{submissao.entreguesAtraso}}</div>
      <div> Pendentes: </div>
      <div [style]="style"> {{submissao.pendentes}}</div>
      <div> Não Entregues: </div>
      <div [style]="style"> {{submissao.naoEntregues}}</div>
      <div> Não Avaliadas: </div>
      <div [style]="style"> {{submissao.naoAvaliada}}</div>
      <div> Performance das entregas: </div>
      <div [style]="submissao.stylePerformanceEntregas"> {{submissao.performanceEntregas | percent:'1.2-2'}}</div>
      <div> Performance geral: </div>
      <div [style]="submissao.stylePerformanceGeral"> {{submissao.performanceGeral | percent:'1.2-2'}}</div>
   </div>
   <br />
</ng-container>