<div class="divCenter300"><img style="width: 30px;" src="../../../assets/classroom.jpg" alt="Google Sala de Aula"></div>
<ng-container *ngFor="let submissao of agrupamentosSubmissoes">
   <div class="grid-classroom">
      <ng-container *ngIf="detalhe">
         <div style="color: white; font-weight: bold; background-color: #673AB7;"> Sala: </div>
         <div [style]="styleHeader"> {{submissao.nomeSala}}
            <!--
            <a style="cursor: pointer;" (click)="loadTarefas()">
               <mat-icon aria-hidden="false" aria-label="acessar lista">call_made</mat-icon>
             </a>-->   
         </div>
      </ng-container>
      <div> Tarefas: </div>
      <div [style]="style"> {{submissao.tarefas}} </div>
      <div> Entregues no prazo: </div>
      <div [style]="style"> {{submissao.entregues}}</div>
      <div> Engajamento: </div>
      <div [style]="submissao.styleEngajamento"> {{submissao.engajamento | percent:'1.2-2'}}</div>
      <div> Entregues com atraso: </div>
      <div [style]="style"> {{submissao.entreguesAtraso}}</div>
      <div> Pendentes: </div>
      <div [style]="style"> {{submissao.pendentes}}</div>
      <div> Não Entregues: </div>
      <div [style]="style"> {{submissao.naoEntregues}}</div>
      <div *ngIf="showNaoAvaliadas"> Não Avaliadas: </div>
      <div *ngIf="showNaoAvaliadas" [style]="style"> {{submissao.naoAvaliada}}</div>
      <div> Aprov. entregas avaliadas: </div>
      <div [style]="submissao.stylePerformanceEntregas"> {{submissao.performanceEntregas | percent:'1.2-2'}}</div>
      <div> Aproveitamento real: </div>
      <div [style]="submissao.stylePerformanceGeral"> {{submissao.performanceGeral | percent:'1.2-2'}}</div>
   </div>
   <br />
</ng-container>