.grid-container {
    display: grid;
    grid-gap: 1px;
    background-color: #2196F3;
    padding: 1px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .header {
    grid-column: 1 / span 2;
  }

  .item{
      background-color: azure;
  }

  .number{
      text-align: right;
  }