<mat-sidenav-container fullscreen>
  <mat-sidenav #start  fixedInViewport="true" fixedTopGap="64" (click)="start.close()">
    <mat-nav-list>

      <a mat-list-item routerLink="">
          <mat-icon>home</mat-icon>
          <span>Início</span>
      </a>
      <a mat-list-item routerLink="/item-admin">
          <mat-icon>ballot</mat-icon>
          <span>Banco de itens</span>
      </a>
      <a mat-list-item routerLink="/item-test">
          <mat-icon>assignment</mat-icon>
          <span>Aplicar atividades</span>
      </a>
      <a mat-list-item routerLink="/boletim">
        <mat-icon>query_stats</mat-icon>
        <span>Boletim</span>
      </a>
      <a mat-list-item routerLink="/pratica-admin">
        <mat-icon>markunread_mailbox</mat-icon>
        <span>Banco de práticas</span>
      </a>
      <a mat-list-item routerLink="/avaliacao-admin">
        <mat-icon>list</mat-icon>
        <span>Avaliações (#Itens)</span>
      </a>
      <a mat-list-item routerLink="/users-admin">
        <mat-icon>account_box</mat-icon>
        <span>Usuários e grupos</span>
      </a>
      <a mat-list-item routerLink="/dash-tarefas">
        <mat-icon>layers</mat-icon>
        <span>Situação de tarefas</span>
      </a>
      <a mat-list-item routerLink="/professor-admin">
        <mat-icon>layers</mat-icon>
        <span>Professor</span>
      </a>
      <a mat-list-item routerLink="/aluno-dash">
        <mat-icon>layers</mat-icon>
        <span>Alunos dashboard</span>
      </a>
    <ng-container *ngFor="let menu of menus">
        <a mat-list-item [routerLink]="menu.routerLink">
            <mat-icon>{{menu.icone}}</mat-icon>
            <span>{{menu.texto}}</span>
        </a>
    </ng-container>

    </mat-nav-list>

</mat-sidenav>

  <mat-toolbar class="header" color="primary">
    <div>
      <button class="material-icons" style="vertical-align: middle; cursor: pointer;" (click)="start.toggle()">
        menu
      </button>
      {{ escola }} - <select name="anoLetivo" id="anoLetivo">
        <option *ngFor="let ano of anos" [value]="ano.ano"
        [selected]="anoLetivo === ano.ano">{{ ano.ano }}</option>
      </select>
      <img src="../assets/MaestroWhite.png" height="32px" alt="">
    </div>
    <div>
    </div>
    <div>
      <div *ngIf="(autenticado); else anonimo">
        <img class="user-avatar" [src]="photoURL"  [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <!--<button mat-menu-item>Perfil</button>-->
          <button mat-menu-item (click)="logout()">Sair</button>
        </mat-menu>
      </div>
      <ng-template #anonimo>
        <a class="linkHeader" href="#" (click)="login()">Entrar</a>
      </ng-template>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>