/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.divCenter1200 {
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
  }
  
  .divCenter800 {
    max-width: 800px;
    margin: auto;
    margin-top: 15px;
  }

  .divCenter1000 {
    max-width: 1000px;
    margin: auto;
    margin-top: 15px;
  }

  .full-screen-modal .mat-dialog-container {
    max-width: none;
  }