.grid-container {
    display: grid;
    grid-template-columns: repeat(14, auto);
    grid-gap: 1px;
    background-color: #000000;
    padding: 1px;
    margin-bottom: 5px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: underline;
    padding: 2px 0;
    font-size: 14px;
    cursor: pointer
  }

  .botao:active  {
      background-color: chocolate;
  }

  .content{
    margin-left: 20px;
  }

  .contentClass{
    display: grid;
    grid-template-columns: 300px 900px;
  }

  .contentItem{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    margin-bottom: 5px;
  }