<div class="content">
    <div *ngIf="isCoordenador" style="width:1200px">
        <div class="grid-container">
            <ng-container *ngFor="let sala of salas">
                <div class="botao" [innerHTML]="sala.sala" (click)="buscaSala(sala.sala)"></div>
            </ng-container>
        </div>
    </div>

    <ng-container *ngFor="let aluno of alunos">
        <div class="divCenter800" style="font-size: large; font-weight: bold;"> {{ aluno.nomeAluno }}</div>
        <div class="contentClass">
            <div class="contentItem">
                <app-classroom-resumo [idGoogle]="aluno.idGoogle"></app-classroom-resumo>
                <button mat-raised-button color="primary" (click)="detalheClassroom()">Detalhe Classroom</button>
            </div>
            <div class="contentItem">
                <app-geekieone-resumo [idGeekie]="aluno.idGeekie"></app-geekieone-resumo>
                <!--<button mat-raised-button color="primary" (click)="detalheGeekie()">Detalhe Geekie</button>-->
            </div>
            <div class="contentItem">
                <app-letrus-resumo [idGoogle]="aluno.idGoogle"></app-letrus-resumo>
                <!--<button mat-raised-button color="primary" (click)="detalheLetrus()">Detalhe Letrus</button>-->
            </div>
        </div>
        <div *ngIf="showDetalheClassroom" class="contentDetail">
            <app-classroom-resumo [idGoogle]="aluno.idGoogle" [detalhe]="true"></app-classroom-resumo>
        </div>
        <div *ngIf="showDetalheGeekie" class="contentDetail">
            <app-geekieone-resumo [idGeekie]="aluno.idGeekie" [detalhe]="true"></app-geekieone-resumo>
        </div>
        <div *ngIf="showDetalheLetrus" class="contentDetail">
            <app-letrus-resumo [idGoogle]="aluno.idGoogle" [detalhe]="true"></app-letrus-resumo>
        </div>
    </ng-container>
</div>