<div class="content">
    <div *ngIf="isCoordenador" style="width:1200px">
        <div class="grid-container">
            <ng-container *ngFor="let sala of salas">
                <div class="botao" [innerHTML]="sala.sala" (click)="buscaSala(sala.sala)"></div>
            </ng-container>
        </div>
    </div>

    <ng-container *ngFor="let aluno of alunos">
        
        <mat-accordion *ngIf="showBoletimAnonimo">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="divCenter800" style="font-size: large; font-weight: bold;"> {{ aluno.nomeAluno }}</div>
                </mat-panel-title>
                <mat-panel-description>
                  Mapa de aproveitamento
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3><u>Boletim </u></h3>
                </mat-panel-title>
                <mat-panel-description>
                  
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-boletim [idGoogle]="aluno.idGoogle" [idCurso]="aluno.idCurso"></app-boletim>
            </mat-expansion-panel>
          </mat-accordion>

        
        
        <div *ngIf="showNome" class="divCenter800" style="font-size: large; font-weight: bold;"> {{ aluno.nomeAluno }}</div>
        <app-boletim *ngIf="isCoordenador"  [idGoogle]="aluno.idGoogle" [idCurso]="aluno.idCurso"></app-boletim>
        <div class="contentClass">
            <div class="contentItem">
                <app-classroom-resumo [idGoogle]="aluno.idGoogle"></app-classroom-resumo>
                <button mat-raised-button color="primary" (click)="detalheClassroom()">Detalhe Classroom</button>
            </div>
            <div class="contentItem">
                <app-geekieone-resumo [idGeekie]="aluno.idGeekie"></app-geekieone-resumo>
                <!--<button mat-raised-button color="primary" (click)="detalheGeekie()">Detalhe Geekie</button>-->
            </div>
            <div class="contentItem">
                <app-letrus-resumo [idGoogle]="aluno.idGoogle"></app-letrus-resumo>
                <!--<button mat-raised-button color="primary" (click)="detalheLetrus()">Detalhe Letrus</button>-->
            </div>
        </div>
        <div *ngIf="showDetalheClassroom" class="contentDetail">
            <app-classroom-resumo [idGoogle]="aluno.idGoogle" [detalhe]="true"></app-classroom-resumo>
        </div>
        <div *ngIf="showDetalheGeekie" class="contentDetail">
            <app-geekieone-resumo [idGeekie]="aluno.idGeekie" [detalhe]="true"></app-geekieone-resumo>
        </div>
        <div *ngIf="showDetalheLetrus" class="contentDetail">
            <app-letrus-resumo [idGoogle]="aluno.idGoogle" [detalhe]="true"></app-letrus-resumo>
        </div>
    </ng-container>
</div>